@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d9d9d9;
    color: #434343;
}

a {
    text-decoration: none;
    color: inherit;

}

.container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    max-width: 1250px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 25px;

}

header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/4;
    grid-row: 1/2;
    border-bottom: 3px solid #b0e0ea;
    color: #9f9c9c;
    padding: 20px;
}

header > .logo > a > i {
    color: #50c6db;
    font-size: 2em;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
}

header > nav > ul > li {
    margin: .5em;
}

header > button,
button:active,
button:focus {
    background-color: #51bb7b;
    color: #fff;
    padding: 6px 25px;
    border-radius: 1.2em;
    border-style: none;
    outline: none;
}

header > button:focus {
    background-color: rgb(161, 242, 126);
}

.hero {
    grid-column: 1/2;
    grid-row: 2/3;

}

.hero > img {
    width: 100%;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 3/5;
}


main {
    grid-column: 2/4;
    grid-row: 2/4;
}

.help {
    grid-column: 2/4;
    grid-row: 4/5;
}

.gallery {
    grid-column: 1/3;
    grid-row: 5/6;
}


.gallery img {
    width: 20%;
}


.sidebar-related {
    grid-column: 3/4;
    grid-row: 5/6;
}

footer {
    grid-column: 1/4;
    grid-row: 6/7;
    text-align: center;
}

