@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d9d9d9;
    color: #434343;
}

a {
    text-decoration: none;
    color: inherit;

}

.container {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    max-width: 1250px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 25px;

}

header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/4;
    grid-row: 1/2;
    border-bottom: 3px solid #b0e0ea;
    color: #9f9c9c;
    padding: 20px;
}

header > .logo > a > i {
    color: #50c6db;
    font-size: 2em;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
}

header > nav > ul > li {
    margin: .5em;
}

header > button,
button:active,
button:focus {
    background-color: #51bb7b;
    color: #fff;
    padding: 6px 25px;
    border-radius: 1.2em;
    border-style: none;
    outline: none;
}

header > button:focus {
    background-color: rgb(161, 242, 126);
}

.hero {
    grid-column: 1/2;
    grid-row: 2/3;

}

.hero > img {
    width: 100%;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 3/5;
    border-top: 3px solid #693f7e;
    background-color: #d9d9d9;
    padding: 2em;
    
}


.sidebar h3 {
    margin: 1em 0;
    
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin: .2em 0;
}

.sidebar a {
    font-size: .75em;
    font-weight: 500;
}

main {
    grid-column: 2/4;
    grid-row: 2/4;
}

main h1 {
    color: #50c6db;
    font-weight: 700;
    margin-bottom: 0.5em;
}

main p {
    margin: 0.7em 0;
    font-weight: 500;
    color: #9f9c9c;
    
}

.help {
    display: flex;
    justify-content: space-around;
    border: 1.5px solid #d9d9d9;
    padding: 1em;
    grid-column: 2/4;
    grid-row: 4/5;
}

.help_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.help_item h3 {
    font-weight: 500;
}

.help_item p {
    margin: 0.75em 0;
    font-size: 0.75em;
}

.help_item button {
    border: 2.5px solid #50c6db;
    padding: 0.5em;
    color:  #50c6db;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-column: 1/3;
    grid-row: 5/6;
    grid-template-columns: repeat(auto-fit, minmax(160px,1fr));
    grid-gap: .8em;
    
}


.gallery img {
    width: 100%;
}


.sidebar-related {
    grid-column: 3/4;
    grid-row: 5/6;
    padding: 2em;
}

.sidebar-related h3 {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #d9d9d9;;
}


.sidebar-related ul {
    margin-left: 1.1em;
}

.sidebar-related a {
    font-size: 0.75em;
    font-weight: 500;
    color: #838383;
    margin-left: .2em
}

footer {
    grid-column: 1/4;
    grid-row: 6/7;
    text-align: center;
    background-color: #9f9c9c;
    text-align: center;
    padding: 2em 0;
    
}

footer h3 {
    color: #fff;
    margin-bottom: .7em;
}

footer p {
    margin-bottom: .8em;
    font-size: .75em;
}



@media screen and (max-width:768px) {
    .container {
        grid-template-rows: repeat(8,auto);
    }
    
    .hero {
        display: none;
    }
    .sidebar {
        grid-column: 1/4;
        grid-row: 2/3;
        border-top: none;
        
    }
    .sidebar {
        text-align: center;
    }
    .sidebar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    main {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    
    main h1 {
        text-align: center;
    }
    
    .help {
        grid-column: 1/4;
        grid-row: 4/5;
    }
    
    .gallery {
        grid-column: 1/4;
        grid-row: 5/6;
    }
    
    .sidebar-related {
        grid-column: 1/4;
        grid-row: 6/7;
    }
    
    .sidebar-related ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .sidebar-related h3 {
        text-align: center;
    }
    
    footer {
        grid-column: 1/4;
        grid-row: 7/8;
    }
}
